:root {
  --fade-time: 1.2s;
  --text-color: rgb(12, 2, 2);
  --text-shadow: 0 0 12px rgba(249, 180, 242, 0.987);
  --accent: #f1c40f;
  --bg-dark: #000;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


body {
  font-family: "Segoe UI", system-ui, sans-serif;
  background: var(--bg-dark);
  color: var(--text-color);
  overflow: hidden;
}
