.scene {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}





.scene::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #000;
  animation: sceneFadeIn var(--fade-time) ease forwards;
  pointer-events: none;
  z-index: 100;
}


.scene.taxi::after {
  display: none;
}

@keyframes sceneFadeIn {
  from { opacity: 1; }
  to   { opacity: 0; }
}



.scene-center {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  text-align: center;
  gap: 1rem;
  z-index: 10;
  color: floralwhite;
}

.dk {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  width: 200px;
  border-radius: 20px;
}


button {
  padding: 12px 24px;
  border: none;
  font-size: 1rem;
  background: var(--accent);
  color: white;
  cursor: pointer;
}



.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}



.bg-intro   { background-image: url("../assets/images/bg-intro.jpg"); }
.bg-house   { background-image: url("../assets/images/bg-house.jpg"); }
.bg-party   { background-image: url("../assets/images/bg-party.jpg"); }
.bg-bedroom { background-image: url("../assets/images/bg-bedroom.jpg"); }

.scene.gift::after {
  display: none;
}
